{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "next",
    "react",
    "",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^@/routes/(.*)$",
    "^@/resources/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/data/(.*)$",
    "^@/services/(.*)$",
    "^@/providers/(.*)$",
    "^@/hooks/(.*)$",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "",
    "^[./]"
  ]
}
