* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  color: rgb(34, 42, 49);
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgb(2, 31, 63), rgb(12, 41, 43));
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 500px;
  min-height: 300px;
  border-radius: 10px;
  background: linear-gradient(to top left, rgb(12, 31, 43), rgb(12, 41, 73));
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 640px) {
  form {
    width: 300px;
  }
}

input,
button {
  border-radius: 8px;
  height: 30px;
  background-color: pink;
  margin: 8px;
  padding: 0 10px;
  border-color: transparent;
  font-family: Verdana;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;
  margin-bottom: 20px;
}
li {
  padding: 5px;
  border-radius: 6px;
  list-style: none;
  margin: 4px;
}
li:nth-child(even) {
  background-color: palegoldenrod;
}
li:nth-child(odd) {
  background-color: palegreen;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
